  
  .App-logo {
    height: 25vmin;
    padding-bottom: 30px;
  }
  
  .App-conteiner {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  

  .App-Button{
    text-transform: capitalize !important;
  }

  .Button-Group{
    padding: 20px 20px 20px 20px;
  }
  .Button-Group > .Link{
    padding: 10px;
  }

  .App-Input{
    width: 400px;
  }

  .Link{
    text-decoration: none;
  }